{% extends 'base.html' %}
{% block title %}Crew List{% endblock %}

{% block content %}
  <h2>รายชื่อทั้งหมด</h2>
  <ul>
    {% for person in persons %}
      <li>
        <a href="{% url 'person_detail' crew_id=person.crew_id_number %}">
          {{ person.full_name }} ({{ person.crew_id_number }})
        </a>
      </li>
    {% endfor %}
  </ul>

    <!-- mongo-debug -->
  <a href="{% url 'mongo_debug' %}" class="btn btn-primary" style="margin-bottom: 1rem;">
    🔍 Go Mongo Debug
  </a>
{% endblock %}
